
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<title>RSC Development League</title>
		<link href="/css/styles.css" rel="stylesheet" />
		<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
		<script type="text/javascript" src="https://cdn.rawgit.com/jmhobbs/Konami-Unicorn-Blitz/master/konami-unicorn-blitz.min.js"></script>
		<link href="/css/devleague.css" rel="stylesheet" />
	</head>
	<body class="sb-nav-fixed">
		<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
			<!-- Navbar Brand-->
			<a class="navbar-brand ps-3" href="/"><div>Rocket Soccar</div><div>Confederation</div> </a>
			<!-- Sidebar Toggle-->
			<button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
			<!-- Navbar Search-->
			<!-- Navbar-->
			<ul class="navbar-nav d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0 sb-sidenav-menu">
				<li class="nav-item dropdown">
					<% if ( discord_id) { %>
					<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span><%= nickname %></span></a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="/player/<%= discord_id %>">View Profile</a></li>
							<li><a class="dropdown-item" href="/logout">Log Out</a></li>
						<% } else { %>
					<a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span>Login</span></a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item" href="https://discord.com/api/oauth2/authorize?client_id=1006600605265055876&redirect_uri=https%3A%2F%2Frsc-devleague.herokuapp.com%2Foauth2&response_type=token&scope=identify">Login w/ Discord</a></li>
						<% } %>
					</ul>
				</li>
			</ul>
		</nav>
		<div id="layoutSidenav">
			<div id="layoutSidenav_nav">
				<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
					<div class="sb-sidenav-menu">
						<div class="nav">
							<div class="sb-sidenav-menu-heading">Core</div>
							<a class="nav-link" href="/">
								<div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
								Dashboard
							</a>

							<% if ( is_admin ) {  /* admin-only functionality */ %>
							<div class="sb-sidenav-menu-heading">Admin</div>
							<a class="nav-link" href="/process_gameday">
								<div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
								Process Gameday
							</a>
							<a class="nav-link" href="/manage_league">
								<div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
								Manage League
							</a>
							<% } %>

						</div>
					</div>
				</nav>
			</div>
			<div id="layoutSidenav_content">

