
<%- include('partials/header.ejs'); %>

	<main class="container">
		<div class="bg-light p-5 rounded">
			<% if ( nickname ) { %>
				<h1>Welcome to RSC Development League, <%= nickname %></h1>
			<% } else { %>
				<h1>Welcome to RSC Development League</h1>
			<% } %>
			<p class="lead">
				The RSC Development League is a Rocket League competitive league that runs concurrently to the 
				active RSC season. It is open to all Free Agents and Permanent Free Agents as a way to showcase 
				your talent and generate player statistics. 
			</p>
			<p>
				Games run every Monday night on active game days at 8:30PM ET and are usually finished by 9:00PM
				so that you can sub for active franchises if needed. If you wish to play tonight, please check in by clicking
				the button below (must be signed in with your Discord account). 
			</p>
			<p>
				<strong>Be aware...</strong> the RSC Development League is for FAs. Players checking in and then choosing at
				the last minute not to play hurt our ability to provide this service. Only check in if you're 100% committed to 
				playing a series of 4 games at 8:30PM. 
			</p>
		</div>

		<div class="bg-light p-5 ronded">
		<% if ( nickname && ! checked_in ) { %>
			<a class="btn btn-lg btn-primary" href="/check_in" role="button">Check In!</a>
		<% } else if ( nickname && checked_in ) { %>
			<h2>You are checked in!</h2>
			<p class="lead">
				Rosters are generated around 8:00PM. Keep an eye on the channel #dev-league channel for updates.
				If you are unable to play, you may check out using the check out button below. 
			</p>
			<a class="btn btn-lg btn-danger" href="/check_out" role="button">Check Out</a>
		<% } else { %>
			<a class="btn btn-lg btn-primary" href="https://discord.com/api/oauth2/authorize?client_id=1006600605265055876&redirect_uri=https%3A%2F%2Frsc-devleague.herokuapp.com%2Foauth2&response_type=token&scope=identify" role="button">Log In with Discord</a>
		<% } %>
		</div>
	</main>

<%- include('partials/footer.ejs'); %>