<div id="info"></div>
<a id="login" style="display: none;" href="https://discord.com/api/oauth2/authorize?client_id=1006600605265055876&redirect_uri=<%- callbackUrl %>&response_type=token&scope=identify">Login With Discord</a>
<script>
	window.onload = () => {
		const fragment = new URLSearchParams(window.location.hash.slice(1));
		const [accessToken, tokenType] = [fragment.get('access_token'), fragment.get('token_type')];

		if (!accessToken) {
			return (document.getElementById('login').style.display = 'block');
		}

		fetch('https://discord.com/api/users/@me', {
			headers: {
				authorization: `${tokenType} ${accessToken}`,
			},
		})
			.then(result => result.json())
			.then(response => {
				const { username, discriminator, id } = response;
				username = username.replace(/[^\x00-\x7F]/g,"");
				let userString = btoa(`${username}:${discriminator}:${id}`);
				document.getElementById('info').innerHTML += ` ${username}#${discriminator} - ${id} - If you're not redirected automatically please click <a href="/process_login?rsc=${userString}">here to finish logging in.</a>`;
				if ( username && discriminator && id ) {
					// redirect to login page
					
					window.location.href = '/process_login?rsc=' + userString;
				}
			})
			.catch(console.error);
	};
</script>
