
<%- include('partials/header.ejs'); %>

<main class="container">
	<div class="py-5 text-center">
		<h2>Dev League Management</h2>
		<p class="lead">
			These are the controls and settings to manage the RSC Development League. 
			The Contract Sheet URL is required as this is where MMRs and player info are 
			pulled from.
		</p>
		<p class="lead">
			When there are changes to the contract sheet (MMRs, new players, new seasons, etc),
			please click the "Import Contracts" button on the right side of the page to import this
			information.
		</p>
		
	</div>

	<div class="row">
		<div class="col-md-4 order-md-2 mb-4">
			<h4 class="d-flex justify-content-between align-items-center mb-3">
				<span class="text-muted">Active Leagues</span>
				<span class="badge badge-secondary badge-pill">3</span>
			</h4>
			<ul class="list-group mb-3">
				<li class="list-group-item d-flex justify-content-between lh-condensed">
					<div>
						<h6 class="my-0">Premier</h6>
						<!-- <small class="text-muted">Brief description</small> -->
					</div>
					<span class="text-muted">90 / 15</span>
				</li>

				<li class="list-group-item d-flex justify-content-between lh-condensed">
					<div>
						<h6 class="my-0">Master</h6>
						<!-- <small class="text-muted">Brief description</small> -->
					</div>
					<span class="text-muted">90 Active, 15 FA</span>
				</li>

				<li class="list-group-item d-flex justify-content-between lh-condensed">
					<div>
						<h6 class="my-0">Elite</h6>
						<!-- <small class="text-muted">Brief description</small> -->
					</div>
					<span class="text-muted">90 Active, 15 FA</span>
				</li>

				<li class="list-group-item d-flex justify-content-between lh-condensed">
					<div class="text-success">
						<h6 class="my-0">Veteran</h6>
						<!-- <small class="text-muted">Brief description</small> -->
					</div>
					<span class="text-muted">90 Active, 15 FA</span>
				</li>

				<li class="list-group-item d-flex justify-content-between lh-condensed">
					<div class="text-success">
						<h6 class="my-0">Rival</h6>
						<!-- <small class="text-muted">Brief description</small> -->
					</div>
					<span class="text-muted">90 Active, 15 FA</span>
				</li>

				<li class="list-group-item d-flex justify-content-between lh-condensed">
					<div class="text-success">
						<h6 class="my-0">Challenger</h6>
						<!-- <small class="text-muted">Brief description</small> -->
					</div>
					<span class="text-muted">90 Active, 15 FA</span>
				</li>

				<li class="list-group-item d-flex justify-content-between lh-condensed">
					<div>
						<h6 class="my-0">Prospect</h6>
						<!-- <small class="text-muted">Brief description</small> -->
					</div>
					<span class="text-muted">90 Active, 15 FA</span>
				</li>

				<li class="list-group-item d-flex justify-content-between lh-condensed">
					<div>
						<h6 class="my-0">Contender</h6>
						<!-- <small class="text-muted">Brief description</small> -->
					</div>
					<span class="text-muted">90 Active, 15 FA</span>
				</li>

				<li class="list-group-item d-flex justify-content-between lh-condensed">
					<div>
						<h6 class="my-0">Amateur</h6>
						<!-- <small class="text-muted">Brief description</small> -->
					</div>
					<span class="text-muted">90 Active, 15 FA</span>
				</li>
				
				<li class="list-group-item d-flex justify-content-between">
					<span>FA</span>
					<strong>75</strong>
				</li>

				<li class="list-group-item d-flex justify-content-between">
					<span>PermFA</span>
					<strong>86</strong>
				</li>

				<li class="list-group-item d-flex justify-content-between">
					<span>Total Players</span>
					<strong>860</strong>
				</li>
				
			</ul>

			<form class="card p-2">
				<div class="input-group">
					<button type="submit" class="btn btn-primary">Import Contracts</button>
				</div>
			</form>
		</div>

		<div class="col-md-8 order-md-1">
			<h4 class="mb-3">League Settings</h4>
			
			<form class="needs-validation" novalidate>

			<div class="mb-3">
				<label for="username">Season</label>
				<div class="input-group">
					<input type="text" class="form-control" id="season" placeholder="season" required>
					<div class="invalid-feedback" style="width: 100%;">
						Season is required
					</div>
				</div>
			</div>

			<div class="mb-3">
				<label for="username">Contract Sheet</label>
				<div class="input-group">
					<input type="text" class="form-control" id="contract_url" placeholder="contract_url" required>
					<div class="invalid-feedback" style="width: 100%;">
						Contract sheet URL is required.
					</div>
				</div>
			</div>

			<hr class="mb-4">
			
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="premier">
				<label class="custom-control-label" for="master">Premier</label>
			</div>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="master">
				<label class="custom-control-label" for="master">Master</label>
			</div>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="elite">
				<label class="custom-control-label" for="elite">Elite</label>
			</div>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="veteran">
				<label class="custom-control-label" for="veteran">Veteran</label>
			</div>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="rival">
				<label class="custom-control-label" for="rival">Rival</label>
			</div>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="challenger">
				<label class="custom-control-label" for="challenger">Challenger</label>
			</div>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="prospect">
				<label class="custom-control-label" for="prospect">Prospect</label>
			</div>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="contender">
				<label class="custom-control-label" for="contender">Contender</label>
			</div>
			<div class="custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input" id="amateur">
				<label class="custom-control-label" for="amateur">Amateur</label>
			</div>
		
			<hr class="mb-4">
			
			<button class="btn btn-primary btn-lg btn-block" type="submit">Update League Settings</button>
			
			</form>
		</div>

	</div>

</main>

<%- include('partials/footer.ejs'); %>