.border-round,
.border-rounded {
	border-radius: 0.5rem;
}

/* devleague specific styles */
div.matchDates {
	background-color: #cde4ff;
	border-radius: 0.5rem;
	padding: 10px;
}

div.matchDats h4 {
	text-decoration: underline;
}

ul.dates {
	font-size: .9rem;
	list-style-type: none;
}

li.today {
	font-weight: bold;
	font-size: 1.1rem;
	background-color: #b5ff00;
	border-radius: 6px;
	text-decoration: underline;
	list-style-type: '⚽';
}

ol>li.today {
	list-style-type: decimal;
	text-decoration: none;
}

li.today.holiday {
	list-style-type: '🏖️';
	background-color: #fa7b7b;
}

.bg-Premier { background-color: #d600d6 !important; font-weight: bold; }
.bg-Master { background-color: #9b59b6 !important; font-weight: bold; }
.bg-Elite { background-color: #3498db !important; font-weight: bold; }
.bg-Veteran { background-color: #33ffda !important; font-weight: bold; }
.bg-Rival { background-color: #2ecc71 !important; font-weight: bold; }
.bg-Challenger { background-color: #ceb337 !important; font-weight: bold; }
.bg-Prospect { background-color: #e67e22 !important; font-weight: bold; }
.bg-Contender { background-color: #d64694 !important; font-weight: bold; }
.bg-Amateur { background-color: #f3a9a9 !important; font-weight: bold; }

.Premier { color: #d600d6 !important; }
.Master { color: #9b59b6 !important; }
.Elite { color: #3498db !important; }
.Veteran { color: #33ffda !important; }
.Rival { color: #2ecc71 !important; }
.Challenger { color: #ceb337 !important; }
.Prospect { color: #e67e22 !important; }
.Contender { color: #d64694 !important; }
.Amateur { color: #f3a9a9 !important; }
