/*
<html lang="en" data-bs-theme="dark" style="scrollbar-color: #021e3a #000f1e;">
*/
a {
	color: #98c1ff;
}
a:hover {
	color: #76a0ee;
}

.page-item.disabled .page-link, .dark .page-item.disabled .dataTable-pagination a, .dark .dataTable-pagination .page-item.disabled a, .dark .dataTable-pagination li.disabled .page-link, .dark .dataTable-pagination li.disabled a {
  color: #3f3f6a;
  pointer-events: none;
  background-color: #021e3a;
  border-color: #dee2e6;
  font-style: italic;
}

.dark .page-item.active .page-link, .dark .page-item.active .dataTable-pagination a, .dark .dataTable-pagination .page-item.active a, .dark .dataTable-pagination li.active .page-link, .dark .dataTable-pagination li.active a {
  color: #cde4ff;
  background-color: #021e6a;
  border-color: #dee2e6;
}
.dark .page-link, .dataTable-pagination a {
  background-color: #021e3a;
  color: #cde4ff;
}

.border-round,
.border-rounded {
	border-radius: 0.5rem;
}

/* devleague specific styles */
div.matchDates {
	background-color: #cde4ff;
	border-radius: 0.5rem;
	padding: 10px;
}

div.matchDates.dark {
	background-color: #162e49;
}

div.matchDates h4 {
	text-decoration: underline;
}

ul.dates {
	font-size: .9rem;
	list-style-type: none;
}

li.today {
	font-weight: bold;
	font-size: 1.1rem;
	background-color: #b5ff00;
	border-radius: 6px;
	text-decoration: underline;
	list-style-type: '⚽';
}
.dark li.today {
	background-color: #79047c;
}

li.today.championship {
	padding: 4px 8px;
	font-weight: bold;
	font-size: 1.5rem;
	background-color: #85ffce;
	border-radius: 6px;
	list-style-type: '👑';	
	text-decoration: none;
	border: 1px solid #e67e22;
}

.dark li.today.championship {
	background-color: #0f4c34;
	border: 1px solid #b7b014;
}

ol>li.today {
	list-style-type: decimal;
	text-decoration: none;
}

li.today.holiday {
	list-style-type: '🏖️';
	background-color: #fa7b7b;
}
.dark li.today.holiday {
	list-style-type: '🏖️';
	background-color: #930a0a;
}

.bg-Premier { background-color: #d600d6 !important; font-weight: bold; }
.bg-Master { background-color: #9b59b6 !important; font-weight: bold; }
.bg-Elite { background-color: #3498db !important; font-weight: bold; }
.bg-Veteran { background-color: #33ffda !important; font-weight: bold; }
.bg-Rival { background-color: #2ecc71 !important; font-weight: bold; }
.bg-Challenger { background-color: #ceb337 !important; font-weight: bold; }
.bg-Prospect { background-color: #e67e22 !important; font-weight: bold; }
.bg-Contender { background-color: #d64694 !important; font-weight: bold; }
.bg-Amateur { background-color: #f3a9a9 !important; font-weight: bold; }

.Premier { color: #d600d6 !important; }
.Master { color: #9b59b6 !important; }
.Elite { color: #3498db !important; }
.Veteran { color: #33ffda !important; }
.Rival { color: #2ecc71 !important; }
.Challenger { color: #ceb337 !important; }
.Prospect { color: #e67e22 !important; }
.Contender { color: #d64694 !important; }
.Amateur { color: #f3a9a9 !important; }
