/* devleague specific styles */
div.matchDates {
	background-color: #cde4ff;
	border-radius: 12px;
	padding: 10px;
}

div.matchDats h4 {
	text-decoration: underline;
}

ul.dates {
	font-size: .9rem;
	list-style-type: none;
}

li.today {
	font-weight: bold;
	font-size: 1.1rem;
	background-color: #b5ff00;
	border-radius: 6px;
	text-decoration: underline;
	list-style-type: '⚽';
}

li.today.holiday {
	list-style-type: '🏖️';
	background-color: ##fa7b7b;
}