<%- include('../partials/header.ejs'); %>

	<main class="container">
		<div class="bg-dark p-3 rounded">
			<div class="row">
				<div class="col-md-8">
					<h1>Welcome to RSC Democracy</h1>
				</div>
			</div>
		</div>
	</main>

<%- include('../partials/footer.ejs'); %>
